/*GLOBAL*/
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
}
ul{
    list-style: none;
}
/*FONTES*/
h1, h2, h3, .price {
    font-family: 'Roboto Serif', serif;
    text-transform: uppercase;
    color: white;
}

/*HEADER*/
header{
    padding: 32px 0;
    text-align: center;
}
header, section{
    max-width: 300px;
    margin: 0 auto;
}
header h1{
    margin-bottom: 4px;
    font-size: 28px;
    line-height: 33px;
}
header h1 span{
    color: #d1ab00;
}
header p {
    font-size: 14px;
    line-height: 16px;
    color: white;
}
/*SECTION*/
section{
    margin-bottom: 24px;
}
section h2{
    background-color: rgba(255, 255, 255, 0.192);
    padding: 8px 16px;
    text-align: center;
    margin-bottom: 24px;
    font-size: 18px;
    color: #d1ab00;
}
/*LISTA*/
ul li{
    margin-bottom: 16px;
    display: flex;
}
li .details{
    max-width: 240px;
}
.details h3{
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 19px;
}
.details p{
    color: white;
    font-size: 14px;
    line-height: 21px;
}